:root {
    --dark-green: #6FBF73;
    --light-green: #A8D5BA;
    --dark-pink: #FF9BB3;
    --light-pink: #F7C7D9;
    --text-dark: #2B3A3A;
    --font-primary: 'Nunito', sans-serif;
    --font-cute: 'Caveat';
}